<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Calculator Test Suite">
    <listeners>
        <listener class-name="task_20.listener.AllureListener"/>
    </listeners>
    <test name="Percentage Calculation Test">
        <classes>
            <class name="task_20.Task20CalculatorTest"/>
        </classes>
    </test>
</suite>
